<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Lato&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/css/normalize.css">
    <link rel="stylesheet" href="/css/styles.css">
    <script src="https://www.google.com/recaptcha/api.js"></script>
    <title>Bolson Verde</title>
</head>
<body>
    <header>
        <div class="logo-mas-buscador">
            <div>
                <a href="/">
                    <img class="logo-head"  src='/img/logo-opcion-dos.png' alt="imagen del logo">
                </a>
            </div>
                <div class="form" action="#" method="GET">
                    <div class="contenedor-de-input-search">
                        <input class="input-search" type="text"   placeholder="Buscar frutas, verduras y otros productos"> 
                        <i class="fas fa-search"></i>
                    </div>
                </div>
                
                <i class="fa fa-bars burger"></i>
                <i class="fas fa-shopping-cart"></i>
        </div>
        <div class="navs-container">
            <div class="nav-offers">
                <a href="#">% Ofertas y promos</a>
            </div>
            <div class="nav01-container">
                <nav class="nav01">
                    <ul>
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Delivery</a></li>
                        <li><a href="#">Mis Pedidos</a></li>
                        <li><a href="#">Mi Perfil</a></li>
                    </ul>
                </nav>
            </div>
        </div>
        <div class="ubicacion">
           <p><i class="fas fa-map-marker-alt"></i>Enviar a tu domicilio</p> 
        </div>
    </header>
    
    <main>
        <section class="banner-carrusel">
            <div class="banner-container">
                <img class="banner-2" src="/img/banner-2.jpg" alt="img banner">
            </div>
        </section>
        <div class="envío-sin-cargo">
            <p>Envío sin cargo si tu compra supera los $2.000</p>
        </div>
        
        <section class="main-producto-container">
            <h2>Detalle del Producto</h2>

        <div class="products-container">
            <article>
                <div class="contenedor-foto-producto">
                    <img class="foto-producto" src="/img/manzana.jpg" alt="foto-manzana">
                    <div class="contenedor-título-producto">
                        <h3>Manzana</h3>
                    </div>
                    </div>
                </div>
                <div class="producto-detail-container">
                    <div class="product-detail">
                        <p> <u>Producto:</u>  Manzana roja.</p>  
                        <p> <u>Precio:</u> $ 100</p>
                        <p> <u>Tamaño promedio:</u>  50gr</p>
                        <p> <u>Tipo:</u> Orgánico</p>
                        <p> <u>Origen:</u> Campo las flores Rio IV</p>
                 
                    </div>
                </div>
            </article>
        </section>
        <div class="whats-app-container">
            <a href="https://api.whatsapp.com/send?phone=5493515140462" class="btn-wsp" target="_blank"><img class="whatsapp-icon" src="/img/whatsapp.png" alt="whats-app-icon"></a>
            
        </div>
    </main>
    <footer>
        <div class="contenedor-input-suscripcion-recaptcha">
                <h4>
                    SUSCRIBITE A NUESTRO NEWSLETTER
                </h4>
            <p class="texto-suscripcion"> Recibí las ofertas, novedades y todos los descuentos que tenemos para utilizar  en tu proxima compra.</p>
            <div class="input-mas-boton-suscribirse">
                <input class="input-suscripcion" type="text" placeholder="  Ingresa tu correo"> 
                <button class="boton-suscribirse">
                    Submit
                </button>
            </div>
             
            <div class="recaptcha-mas-submit">
                <img class="recaptcha" src="/img/recaptcha.PNG" alt="">
            </div>
        </div>
            <nav class="navegadores-footers">
                <div class="cliente">
                    <h4>
                        CLIENTE
                    </h4>
                     <ul class="nav-cliente">
                         <li><a href="#">Log in</a></li>
                         <li><a href="#">Registrate</a></li>
                         <li><a href="#">Mis Pedidos</a></li>
                         <li><a href="#">Carrito</a></li>
                     </ul>
                </div>
                <div class="nosotros">
                    <h4>
                        NOSOTROS
                    </h4>
                    <ul class="nav-nosotros">
                        <li><a href="#">Contacto</a></li>
                        <li><a href="#">Zona Delivery</a></li>
                        <li><a href="#">Hace tu pedido</a></li>
                    </ul>
                </div>
                <div class="contenedor-logo-footer">
                    <img class="logo-footer" src= "/img/logo-opcion-dos.png" alt="img logo">
                </div>
            </nav>
        <div class="fondo-copyright">
            <div class="redes-sociales">
                <a href="https://m.facebook.com/"><i class="fab fa-facebook"></i></a>
                <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
                <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
            </div>
            <div class="footer-copyright">
                <p>
                    www.greenmarket.com.ar Copyright © 2022 - Todos los derechos reservados 
                </p>
            </div>
            <div class="equipo-devs">
                <p>
                    <i class="fas fa-cogs"></i> Desarrollado por Script.This 
                </p>
            </div>
            <div class="tarjetas-pago">
                <i class="fab fa-cc-visa"></i>
                <i class="fab fa-cc-mastercard"></i>
                <i class="fab fa-cc-amex"></i>
            </div>
        </div>
    </footer>
</body>
</html>