<!DOCTYPE html>
<html lang="en">
    <head>
            <meta charset="UTF-8">
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta name="viewport" content="width=device-width, initial-scale=1.0">
            <link href="https://fonts.googleapis.com/css2?family=Exo:wght@300&family=Lato&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Arvo:ital,wght@1,700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Arvo&display=swap" rel="stylesheet">
            <link href="https://fonts.googleapis.com/css2?family=Gochi+Hand&family=Mochiy+Pop+One&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
            <link rel="stylesheet" href="/css/normalize.css">
            <link rel="stylesheet" href="/css/styles.css">
            <script src="https://www.google.com/recaptcha/api.js"></script>
            <title>Bolson Verde</title>
    </head>
    <script>
        document.addEventListener('DOMContentLoaded', () => {

            
            const baseDeDatos = [
                {
                    id: 1,
                    nombre: 'Manzana Orgánica Verde',
                    precio: 15,
                    thumbnailUrl: "https://produits.bienmanger.com/36035-0w0h0_Organic_Apples_Granny_Smith_From_France.jpg"
                },
                {
                    id: 2,
                    nombre: 'Manzana Orgánica Roja',
                    precio: 15,
                    thumbnailUrl: 'https://produits.bienmanger.com/45407-0w0h0_Organic_Apples_Galaxy_From_Frnace.jpg'
                },
                {
                    id: 3,
                    nombre: 'Kiwi Orgánico',
                    precio: 25,
                    thumbnailUrl: 'https://produits.bienmanger.com/34089-0w0h0_Organic_Fresh_Kiwi.jpg'
                },
                {
                    id: 4,
                    nombre: 'Mini Sandía Orgánica',
                    precio: 20,
                    thumbnailUrl: 'https://produits.bienmanger.com/35168-0w0h0_Organic_Big_Watermelon.jpg'
                },
                {
                    id: 5,
                    nombre: 'Papa Blanca Orgánica',
                    precio: 5,
                    thumbnailUrl: 'https://produits.bienmanger.com/35919-0w0h0_Organic_White_Sweet_Potato.jpg'
                },
                {
                    id: 6,
                    nombre: 'Cebolla Orgánica',
                    precio: 10,
                    thumbnailUrl: 'https://produits.bienmanger.com/34833-0w0h0_Organic_Yellow_Onion.jpg'
                },                
                {
                    id: 7,
                    nombre: 'Zanahoria Orgánica',
                    precio: 8,
                    thumbnailUrl: 'https://produits.bienmanger.com/34873-0w0h0_Organic_Chantenay_Carrot.jpg'
                },
                {
                    id: 8,
                    nombre: 'Repollo Orgánico',
                    precio: 15,
                    thumbnailUrl: 'https://produits.bienmanger.com/35977-0w0h0_Organic_Green_Cabbage_From_France.jpg'
                },
                {
                    id: 9,
                    nombre: 'Jengibre Orgánico',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/34571-0w0h0_Organic_Ginger.jpg'
                },
                {
                    id: 10,
                    nombre: 'Calabaza Butternut Orgánica',
                    precio: 30,
                    thumbnailUrl: 'https://produits.bienmanger.com/36054-0w0h0_Organic_Butternut_From_France.jpg'
                },
                {
                    id: 11,
                    nombre: 'Pepino Orgánico',
                    precio: 15,
                    thumbnailUrl: 'https://produits.bienmanger.com/35242-0w0h0_Organic_Long_Cucumber_From_France.jpg'
                },
                {
                    id: 12,
                    nombre: 'Puerro Orgánico',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/34835-0w0h0_Organic_Leek_From_France.jpg'
                },
                {
                    id: 13,
                    nombre: 'Ajo Blanco Orgánico',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/29273-0w0h0_White_Garlic_From_Lomagne.jpg'
                },
                {
                    id: 14,
                    nombre: 'Brócoli Orgánico',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/39229-0w0h0_Organic_Broccoli.jpg'
                },
                {
                    id: 15,
                    nombre: 'hampiñon Cremini Orgánico',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/34671-0w0h0_Organic_Mushroom_From_Paris.jpg'
                },
                {
                    id: 16,
                    nombre: 'Limon Amarillo Orgánico',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/38438-0w0h0_Organic_Limequats.jpg'
                },
                {
                    id: 16,
                    nombre: 'Pimiento Orgánico Verde',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/38827-0w0h0_Organic_Fresh_Green_Peppers.jpg'
                },
                {
                    id: 16,
                    nombre: 'Naranja Orgánicas',
                    precio: 17,
                    thumbnailUrl: 'https://produits.bienmanger.com/38434-0w0h0_Organic_Navelate_Oranges.jpg'
                }

            ];

            let carrito = [];
            const divisa = '$';
            const DOMitems = document.querySelector('#items');
            const DOMcarrito = document.querySelector('#carrito');
            const DOMtotal = document.querySelector('#total');
            const DOMbotonVaciar = document.querySelector('#boton-vaciar');
            const miLocalStorage = window.localStorage;

            

            
            
            
            function renderizarProductos() {
                baseDeDatos.forEach((info) => {
                    
                    const miNodo = document.createElement('div');
                    miNodo.classList.add('card', 'col-sm-4');
                    
                    const miNodoCardBody = document.createElement('div');
                    miNodoCardBody.classList.add('card-body');
                    
                    const miNodoTitle = document.createElement('h5');
                    miNodoTitle.classList.add('card-title');
                    miNodoTitle.textContent = info.nombre;
                    
                    const miNodothumbnailUrl = document.createElement('img');
                    miNodothumbnailUrl.classList.add('img-fluid');
                    miNodothumbnailUrl.setAttribute('src', info.thumbnailUrl);
                    
                    const miNodoPrecio = document.createElement('p');
                    miNodoPrecio.classList.add('card-text');
                    miNodoPrecio.textContent = `${info.precio}${divisa}`;
                    
                    const miNodoBoton = document.createElement('button');
                    miNodoBoton.classList.add('btn', 'btn-primary');
                    miNodoBoton.textContent = '+';
                    miNodoBoton.setAttribute('marcador', info.id);
                    miNodoBoton.addEventListener('click', anyadirProductoAlCarrito);
                    
                    miNodoCardBody.appendChild(miNodothumbnailUrl);
                    miNodoCardBody.appendChild(miNodoTitle);
                    miNodoCardBody.appendChild(miNodoPrecio);
                    miNodoCardBody.appendChild(miNodoBoton);
                    miNodo.appendChild(miNodoCardBody);
                    DOMitems.appendChild(miNodo);
                });
            }

            
            
            
            function anyadirProductoAlCarrito(evento) {
                
                carrito.push(evento.target.getAttribute('marcador'))
                
                renderizarCarrito();
                
                guardarCarritoEnLocalStorage();
            }

            
            
            
            function renderizarCarrito() {
                
                DOMcarrito.textContent = '';
                
                const carritoSinDuplicados = [...new Set(carrito)];
                
                carritoSinDuplicados.forEach((item) => {
                    
                    const miItem = baseDeDatos.filter((itemBaseDatos) => {
                        
                        return itemBaseDatos.id === parseInt(item);
                    });
                    
                    const numeroUnidadesItem = carrito.reduce((total, itemId) => {
                        
                        return itemId === item ? total += 1 : total;
                    }, 0);
                    
                    const miNodo = document.createElement('li');
                    miNodo.classList.add('list-group-item', 'text-right', 'mx-2');
                    miNodo.textContent = `${numeroUnidadesItem} x ${miItem[0].nombre} - ${miItem[0].precio}${divisa}`;
                    
                    const miBoton = document.createElement('button');
                    miBoton.classList.add('btn', 'btn-danger', 'mx-5');
                    miBoton.textContent = 'X';
                    miBoton.style.marginLeft = '1rem';
                    miBoton.dataset.item = item;
                    miBoton.addEventListener('click', borrarItemCarrito);
                    
                    miNodo.appendChild(miBoton);
                    DOMcarrito.appendChild(miNodo);
                });
                
                DOMtotal.textContent = calcularTotal();
            }

            
            
            
            function borrarItemCarrito(evento) {
                
                const id = evento.target.dataset.item;
                
                carrito = carrito.filter((carritoId) => {
                    return carritoId !== id;
                });
                
                renderizarCarrito();
                
                guardarCarritoEnLocalStorage();

            }

            
             
             
            function calcularTotal() {
                
                return carrito.reduce((total, item) => {
                    
                    const miItem = baseDeDatos.filter((itemBaseDatos) => {
                        return itemBaseDatos.id === parseInt(item);
                    });
                    
                    return total + miItem[0].precio;
                }, 0).toFixed(2);
            }

            
            
            
            function vaciarCarrito() {
                
                carrito = [];
                
                renderizarCarrito();
                
                localStorage.clear();

            }

            function guardarCarritoEnLocalStorage () {
                miLocalStorage.setItem('carrito', JSON.stringify(carrito));
            }

            function cargarCarritoDeLocalStorage () {
                
                if (miLocalStorage.getItem('carrito') !== null) {
                    
                    carrito = JSON.parse(miLocalStorage.getItem('carrito'));
                }
            }

            
            DOMbotonVaciar.addEventListener('click', vaciarCarrito);

            
            cargarCarritoDeLocalStorage();
            renderizarProductos();
            renderizarCarrito();
        });
    </script>
    <body>
        <header>
        <%-include("../partials/header")%>
        </header>
        <div class="container">
            <div class="row">
                
                <main id="items" class="col-sm-8 row"></main>
            
                <aside class="col-sm-4">
                    
                    <h2>Carrito</h2>
                
                    <ul id="carrito" class="list-group"></ul>
                    <hr>
                
                    <p class="text-right">Total: <span id="total"></span>&dollar;;</p>
                    <button id="boton-vaciar" class="btn btn-danger">Vaciar</button>
                </aside>
            </div>
        </div>
        <%-include('../partials/footer')  %> 
    </body>
</html>