<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/head', {title:'Listado'}) %> 
    </head>
    <body>
        <header>
            <%-include('./partials/header')  %>
            <%-include('./partials/carrusel') %>
        </header>
        <main>
            <div class="list-product-container">
                <form class="editar-product-form" action="/" method="POST">
                    <label class="complete-data-title" for="list-product-container">Seleccione la categoría de productos que desea buscar:</label>
                    <select class="list-product-container input-texto"  name="list-product-container" id="list-product-container">
                        <option value="blank" selected>-</option>
                        <option value="Verduras">Verduras</option>
                        <option value="Frutas">Frutas</option>
                        <option value="Hierbas">Hierbas</option>
                        <option value="Secos">Secos</option>
                    </select>
                    <div class="submit-listar-product-container submit-editar-product-container">
                        <button class="listar-product-button editar-product-button">
                            <p>Listar productos</p>
                        </button>
                        <span>*Seleccione una opcion para listar sus productos</span>
                    </div>  
                </form>
            </div>
        </main>
        <%-include('./partials/footer')  %> 
    </body>
</html>