<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('./partials/head',{title: 'Carrito de Compra'}) %> 
</head>
<body>
    <header>
        <%- include('./partials/header') %>
        <%- include('./partials/carrusel') %> 
    </header>
    <main> 
            <div title-cart-container>
                <p class="cartOrder-title">Detalle de tu carrito de compra</p>
            </div>
        <div class="cart-tables-container">
            <div class="table-container">
                <form class="order-form" id="order-form" action="/cartOrder" method="POST" name="order-form"> 
                    <table class="cart-table-labels">
                        <thead>
                            <tr>
                                <th class="text-left">Producto</th>
                                <th class="text-center">Cantidad</th>
                                <th class="text-center">$ Unidad</th>
                                <th class="text-center">Subtotal</th>
                                <th class="text-center">Eliminar</th>
                            </tr>
                        </thead>
                    </table> 
                    <table class="cart-table">
                        <tbody class="cart-items">
                            
                        </tbody>
                    </table>
                        <table class="cart-table">
                            <tfoot>
                                    <tr>
                                        <td></td>
                                        <td class="text-total">
                                             
                                        </td>
                                   </tr>
                                    <tr>
                                        <td class="text-right"><a href="/products"><button  class="continue-cart">Seguir Comprando</button></a></td>
                                        <td class="text-right"><button type="submit" class="confirm-cart">Confirmar pedido</button></td>
                                    </tr>
                            </tfoot>
                        </table>
                </form>
            </div>
            <div class="messege-payment-container">
                <div class="important">
                 <p> Importante</p>
                </div>
                <div class="min-buy-info alert">
                    <p>La compra mínima es de $2.000</p>
                </div>
                <div class="payment-method-info alert">
                    <h5>Opciones de pago:</h5>
                    <ul>
                        <li>Transferencia</li>
                        <li>Efectivo</li>
                        <li>Tarjeta Crédito/ Debito</li>
                    </ul>
                </div>

            </div>

        </div>
        <script src="/js/cartOrder.js"></script>
    </main>
    <%- include('./partials/footer') %>
</body>
</html>