<!DOCTYPE html>
<html lang="en">
    <head>
        <%-include('./partials/head', {title:'Crea tu producto'}) %> 
    </head>
    <body>
        <header class="header-create">
            <%-include('./partials/header')  %>
        </header>
        <main>
            <div class="create-product-container">
                <h2 class="create-producto-title">Crea tus productos</h2>
                <form class="create-product-form" action="/products/" method="POST" enctype="multipart/form-data">
                    <h3 class="complete-data-title">Ingresa los siguientes datos para crear tu producto:</h3>
                    <input class="input-texto" type="text" name="product-name" placeholder="Ingrese el nombre del producto">
                    <input class="input-texto" type="text" name="description" placeholder="Describa el producto">
                    <input class="input-texto" type="text" name="category" placeholder="Ingrese la categoria de su producto">
                    <input class="input-texto" type="number" name="precio" placeholder="Ingrese el precio de su producto">
                    <label class="label-header">Adjunte la foto de su producto:</label>
                    <input class="img-crear-producto" type="file" name="create-product-photo" accept=".jpg, .png" multiple>
                    <div class="submit-create-product-container">
                        <button class="create-product-button">
                            <p>Crear producto</p>
                        </button>
                        <span>*Todos los campos son obligatorios</span>
                    </div>  
                </form>
            </div>
        </main>
        <%-include('./partials/footer')  %> 
    </body>
</html>