<div class="carrousel-container">
    <ul class="slider">
        <li id="slide1">
            <div class="photo-container">
                <img class="banner-photo" src="/img/banner01.jpg" alt="img banner">
                <div class="photo-message">
                    <h1>CALIDAD Y PRECIO</h1>
                    <p>En la puerta de tu casa!</p>
                    <a href="/productCart">
                       <button class="boton-producto">
                               <p>Comprar ahora</p>
                       </button>
                   </a>
                </div>
            </div>
        </li>
        <li id="slide2">
           <div class="photo-container">
               <img class="banner-photo" src="/img/banner02.jpg" alt="img banner">
               <div class="photo-message">
                   <h1>FURTAS Y VERDURAS 100% ORGÁNICASA</h1>
                   <p>En la puerta de tu casa!</p>
                   <a href="/productCart">
                       <button class="boton-producto">
                               <p>Comprar ahora</p>
                       </button>
                   </a>
               </div>
           </div>
        </li>
        <li id="slide3">
           <div class="photo-container">
               <img class="banner-photo" src="/img/banner03.jpg" alt="img banner">
               <div class="photo-message">
                   <h1>FRESCO, RICO Y SALUDABLE</h1>
                   <p>En la puerta de tu casa!</p>
                   <a href="/productCart">
                       <button class="boton-producto">
                               <p>Comprar ahora</p>
                       </button>
                   </a>
               </div>
           </div>
       </li>
       
    </ul>
    <ul class="menu-slider">
       <li><a href="#slide1"></a></li>
       <li><a href="#slide2"></a></li>
       <li><a href="#slide3"></a></li>
   </ul>
</div>