<footer>
    <div class="contenedor-input-suscripcion-recaptcha">
            <h4>
                SUSCRIBITE A NUESTRO NEWSLETTER
            </h4>
        <p class="texto-suscripcion"> Recibí las ofertas, novedades y todos los descuentos que tenemos para utilizar  en tu proxima compra.</p>
        <div class="input-mas-boton-suscribirse">
            <input class="input-suscripcion" type="text" placeholder="Ingresa tu correo"> 
            <button class="boton-suscribirse">
                Submit
            </button>
        </div>

        <div class="recaptcha-mas-submit">
            <img class="recaptcha" src="/img/recaptcha.PNG" alt="">
        </div>
    </div>

        <nav class="navegadores-footers">
            <div class="cliente">
                <h4>
                    CLIENTE
                </h4>
                 <ul class="nav-cliente">
                     <li><a href="#">Log in</a></li>
                     <li><a href="#">Creá tu cuenta</a></li>
                     <li><a href="#">Mis Pedidos</a></li>
                     <li><a href="#">Carrito</a></li>
                 </ul>
            </div>
            <div class="nosotros">
                <h4>
                    NOSOTROS
                </h4>
                <ul class="nav-nosotros">
                    <li><a href="#">Contacto</a></li>
                    <li><a href="#">Zona Delivery</a></li>
                    <li><a href="#">Hace tu pedido</a></li>
                </ul>
            </div>
            <div class="contenedor-logo-footer">
                <img class="logo-footer" src= "/img/logo-opcion-dos.png" alt="img logo">
            </div>
        </nav>
    <div class="fondo-copyright">
        <div class="redes-sociales">
            <a href="https://m.facebook.com/"><i class="fab fa-facebook"></i></a>
            <a href="https://www.instagram.com/"><i class="fab fa-instagram"></i></a>
            <a href="https://twitter.com/"><i class="fab fa-twitter-square"></i></a>
        </div>
        <div class="footer-copyright">
            <p>
                www.greenmarket.com.ar Copyright © 2022 - Todos los derechos reservados 
            </p>
        </div>
        <div class="equipo-devs">
            <p>
                <i class="fas fa-cogs"></i> Desarrollado por Script.This 
            </p>
        </div>
        <div class="tarjetas-pago">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
        </div>
    </div>
</footer>