<!DOCTYPE html>
<html lang="en">
    <%-include("../partials/head")%>
    <body>
        <header>
            <%-include("../partials/header")%>
        </header>
        <main>
            <form method="GET" name= "formulario-registro">
                <input class="input-texto" type="text" name="nombre" placeholder="Nombre/s y apellido/s">
                <input class="input-texto" type="text" name="user-name" placeholder="Nombre de usuario">
                <input class="input-texto" type="email" name="email" placeholder="Correo electrónico">

                <label class="label-header" for="b-date">Fecha de nacimiento: </label>
                <input class="input-texto" type="date" name="b-date">

                <input class="input-texto" type="text" name="direccion" placeholder="Dirección">

                <label class="label-header">Perfil del usuario</label>
                <div class="perfil-usr">
                    <div>
                        <input type="radio" id="comprador" value="perfil-comprador">
                        <label for="comprador">Comprador</label>
                    </div>
                    <div>    
                        <input type="radio" id="vendedor" value="perfil-vendedor"> 
                        <label for="vendedor">Vendedor</label>
                    </div>
                </div>

                <label class="label-header">Intereses</label>
                <div class="categorias-interes">
                    
                    <div class="categoria-int">
                        <label for="electro">Electro</label>
                        <input type="checkbox" id="electro" value="electro">
                    </div>
                    <div class="categoria-int">
                        <label for="moda">Moda</label>
                        <input type="checkbox" id="moda" value="moda">
                    </div>
                    <div class="categoria-int">
                        <label for="hogar">Hogar</label>
                        <input type="checkbox" id="hogar" value="hogar">
                    </div>
                    <div class="categoria-int">
                        <label for="jugueteria">Juguetería</label>
                        <input type="checkbox" id="jugueteria" value="jugueteria">
                    </div>
                    <div class="categoria-int">
                        <label for="vida-sana">Vida sana</label>
                        <input type="checkbox" id="vida-sana" value="vida-sana">
                    </div>
                </div>
                <label class="label-header">Imagen de perfil:</label>
                <div class="img-perfil">
                    <input type="file" name="avatar" accept=".jpg, .png">
                </div>
                <input class="input-texto" type="password"  placeholder="Contraseña">
                <input class="input-texto" type="password"  placeholder="Confirmar contraseña">
                <div class="botones-register">
                    <button type="submit"><a href="/">Enviar</a></button>
                    <button type="reset">Borrar</button>
                </div>

            </form>
        </main>
        <%-include('../partials/footer')  %> 
    </body>
</html>